body {
    font-family: Roboto, sans-serif;
}

* {
    padding:0px;
    margin:0px;
}
/* NAVBAR */

.topheader {
    background-color: #320a42;
}

.topheader {
    display:flex;
    justify-content:space-around;
    align-items:center;
    width: 100%;
    padding: 15px;
}

ul {
    list-style: none;
    display:flex;
    gap: 15px;
}

.leftnav {
    font-size:24px;
    color:#f9faf8;
}

.rightnav {
    display: flex;
    flex-direction: row;
    justify-content:center;
    font-size:18px;
    gap:10px;
}

.rightnav a {
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}

/* BOTTOM HEADER */


.bottomheader {
    background-image: url(https://upload-os-bbs.hoyolab.com/upload/2021/07/08/13397772/709e87e0886b803b848bf44c2a638b6c_8437543062021056518.jpg);
    display:flex;
    justify-content:center;
    align-content:flex-start;
    width:100%;
}

h1 {
    font-size:48px;
    font-weight:bolder;
    color: #f9faf8;
}

.bottomheader p {
    font-size: 20px;
    color: #e5e7eb;
}

.border {
    padding:20px;
    border: 1px;
    border-radius: 50px;
    border-style: dashed;
    border-color: hsl(286, 90%, 23%);
    background-color: rgba(80, 76, 76, 0.5);
    box-shadow: 10px 10px 10px rgba(220, 197, 223, 0.712); 
    width:50%;
    margin: 50px;
}

.content {
    display:flex;
}
.leftcont {
    display: flex;
    flex-direction: column;
    margin:50px 0px 50px 0px;
}

button {
    background-color: #af3eae;
    border: 0px;
    padding: 20px;
}

.rightcont {
    display: flex;
    margin-left:50px;
    justify-content:center;
    align-items: center;
}




/* SECOND SECTION */

.secondsection {
    margin: 50px;
    width:100%;
    
}

.abilities {
    display:flex;
    justify-content:space-around;
}

.abilitiesdesc {
    display:flex;
    flex-direction:column;
}
